.conteiner {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 16.75px;
    width: 364px;
    height: 117px;
    gap: 20.75px;
}

.divona{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 300px;
}

#medida {
    font-size: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 95px;
    height: 70px;
}

.info h4 {
    color: #6CC51D;
}


